name: Nodes

on:
    push:
        branches:
            - master
    schedule:
        - cron: '0 10 * * *' # everyday at 10am

jobs:
    build:
        continue-on-error: true
        strategy:
            matrix:
                include:
                    # Add your own details here, just duplicate one of the entries below.
                    # `binary` is the name of your binary as created by cargo
                    # `branch` is the git branch to fetch
                    # `git` is your github repo URL (must be publicly accessible)
                    # `package` is the rust package to build that will produce your binary
                    # `name` is the name of the docker container to push

                    -
                        binary: nodle-parachain
                        git: https://github.com/NodleCode/chain
                        branch: master
                        package: nodle-parachain
                        name: nodle-chain
                        tag: latest
                        flags:
                    -
                        binary: polkadot
                        git: https://github.com/paritytech/polkadot
                        branch: master
                        package: polkadot
                        name: polkadot
                        tag: latest
                        flags:
                    -
                        binary: edgeware
                        git: https://github.com/edgeware-network/edgeware-node
                        branch: master
                        package: edgeware-cli
                        name: edgeware
                        tag: latest
                        flags:

        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v3.4.0
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2.4.0
            -
                name: Login to DockerHub
                if: github.event_name != 'pull_request'
                uses: docker/login-action@v1.10.0 
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
            -
                name: Build and push
                uses: docker/build-push-action@v4.0.0
                with:
                    context: ./substrate
                    file: ./substrate/Dockerfile 
                    push: ${{ github.event_name != 'pull_request' }}
                    cache-from: type=local,src=/tmp/.buildx-cache
                    cache-to: type=local,dest=/tmp/.buildx-cache
                    tags: eteissonniere/${{ matrix.name }}:${{ matrix.tag }}
                    build-args: |
                        GIT_REPO=${{ matrix.git }}
                        GIT_BRANCH=${{ matrix.branch }}
                        PACKAGE_NAME=${{ matrix.package }}
                        BINARY_NAME=${{ matrix.binary }}
                        FLAGS=${{ matrix.flags }}
